body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #cdd8e6, #fefbfc); /* background blends from faint blue to faint red*/
}

/* Center the profile-pic and header */
.main-container {
  text-align: center;
  margin-top: 50px;
}

/* Profile picture styling - circular with outlining to look more friendly */
.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 30%;    /* make image slightly rounded */
  object-fit: cover;
  border: 2px solid #6a6a6a;
}

/* Game project image styling - slightly wide rectangle with outlining */
.game-pic {
  width: 180px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #6a6a6a;
}

/* iOS project image styling - long rectangle with outlining */
.ios-pic {
  width: 150px;
  height: 320px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #6a6a6a;
}

/* Name header styling */
.name-header {
  margin-top: 20px;
  font-size: 68px;
  font-weight: 300;
  color: #333;
}

/* Occupation header styling */
.occupation-header {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
  color: #333;
}

/* displaying name and occ in vstack */
.name-occupation-col {
  display: flex;      
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* displaying name-occ column and photo in a row */
.name-photo-row {
  display: flex;      
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 20px;
}

/* Section header styling */
.section-header {
  margin-top: 20px;
  font-size: 23px;
  font-weight: 300;
  color: #333;
}

/* Project header styling */
.project-header {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  text-align: center;
}

/* Project sub-header styling */
.project-subheader {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 300;
  color: #333;
  text-align: center;
  max-width: 250px;
}

/* horizontal rules for neat layout - changing thickness, colour, and spacing */
hr {
  border: none;            /* removes default border */
  height: 2px;             
  background-color: #c8d4e3;
  margin: 40px 0;          /* space above and below */
}

/* paragraphs - make text bit smaller than headers and lower width so its comfy to read */
p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
  max-width: 1100px;  /* so text has gap at edge of page for comfort to the eyes */
}

strong { 	/* used for keywords, 700 weight was a bit too much for the eyes*/
  font-weight: 400;
}


/* displaying game projects in row instead of grid so it doesn't look like a spreadsheet */
.games-row {
  display: flex;      
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 20px;
}

/* each game card - align vertically to look neater */
.game-card {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

/*hover effect for more fun interaction*/
.game-pic:hover {
  transform: scale(1.03); /* just a slight enlargement to catch the eye */
  transition: transform 0.2s ease; /* to give a sort of animated effect */
}

.ios-pic:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}
